<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Add user</title>
</head>

<body>
    <h1>Add user:</h1>
    <br><br>
    <form th:action="@{/signon}" th:object="${addUser}" method="POST">
        First name:
        <input type="text" th:field="*{FirstName}" />
        <br>
        Second name:
        <input type="text" th:field="*{SecondName}" />
        <br>
        <input type="submit" value="Create" />
    </form>
    <br>
    <div th:if="${createUserError}" th:utext="${createUserError}" style="color: red; font-style: italic">...
    </div>
    <br>
    <a th:href="@{/users}">List of Users</a>
</body>

</html>